# --- Python basics -------------------------------------------------
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.egg
.DS_Store
.idea/
.vscode/
.env
.venv/
venv/
venv_v1/
venv_video/
.venv_311/
.venv*
dist/
build/
test_moviepy.py

private_assets/

# --- Jupyter & IPython --------------------------------------------
.ipynb_checkpoints/
*.ipynb

# --- Logs & misc ---------------------------------------------------
*.log
*.tmp
*.temp
tmp-*.m4a # temp audio created by MoviePy
*.tmp.mp4 # temp video before rename
*.csv
*.sqlite
*.db
*MPY_wvf_snd*

# --- Project-specific large outputs -------------------------------
Python_Scripts_Resulam_Phrasebooks_Audio_Processing/
Languages/*Phrasebook/*Only/
Backgrounds_Selected/
# comment the line below if you DO want finished videos tracked
*.mp4
*.m4a
*.wav
# *.png
# *.jpg
# *.jpeg
*.docx

# --- Assets rules -------------------------------------------------
# Ignore these two specific subdirectories
Assets/Results_Audios/
Assets/Results_Videos/

# Ignore results outputs
**/Results_Audios/
**/Results_Videos/
**assets/other_helpers/Word_document_processing.py
!execution_time_all_videos_steps_bamoun.log